/* color : #FEED01: */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, Arial, sans-serif;
}
h1 {
  /* color: #fdf100; */
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 4em;
  font-style: italic;
}
label{
    color: #0063b4;
    line-height: 30px;
}
.header-line {
  height: 80px;
  background-color: #fdf100;
}
footer {
  height: 20px;
  width: 100%;
  background-color: #999;
  position: absolute;
  bottom: 0;

}
footer::after {
  content: "© АРТСЕЛ 2019";
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  display: block;
  margin-top: 4px;
  color: #bdbdbd;
}
.btn-submite {
  padding: 10px 40px;
  background-color: #fdf100;
  border-radius: 25px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
}
input[name="upload_file"] {
  margin-bottom: 10px;
  font-family: Roboto, Arial, sans-serif;
}
.btn{
    margin-left: 20px;
    margin-top: 10px;
}
.form-style {
  display: flex;
flex-wrap: wrap;
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 450px;
  margin: 10px auto;
  padding: 20px;
}
#key-user {
  width: 430px;
}
input[type="text"] {
  border-radius: 3px;
  font-size: 1.3em;
}
.ajax-response{
    text-align: center;
    background-color: grey;
    width: 440px;
    margin: auto;
}

.get-img {
    height: 300px;
}
